body {
    font-family: 'Poppins', sans-serif;

}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-size: 20px;
}

.flex-place {
    display: flex;
}

.flex-set {
    margin: 70px 80px 70px 30px;
}

.font-control {
    font-weight: 700;
    font-size: 50px;
}

.button {
    background-color: rgb(208, 33, 68);
    color: white;
    width: 150px;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 18px;
}

.camera {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
}

.logos {
    margin: 5px 150px 15px 150px;
}

hr {
    height: 1px;
    background-color: lightgray;
}

.company {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    justify-content: space-between;
}

.company-logo {
    margin-left: 20px;
}

.collection {
    text-align: center;
    margin-top: 50px;
}

.gallery-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    margin-bottom: 80px;
}

.fa-star.fa-star-half-stroke {
    font-size: 12px;
}

.fa-star.filled {
    color: goldenrod;
}

.fa-star-half-stroke {
    color: goldenrod;
}

.down-span {
    color: red;
    font-size: 20px;
}

.another-flex-place {
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
}

.gear {
    margin-left: 100px;
}

.another-button {
    background-color: rgb(208, 33, 68);
    color: white;
    width: 150px;
    padding: 8px 8px;
    font-size: 18px;
}

.added {
    background-color: black;
}

.color-set {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.color {
    color: lightgray;
}