body {
    font-family: 'Poppins', sans-serif;

}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-size: 20px;
}

.upper-body {
    display: flex;
}

.flex-set {
    margin: 70px 80px 70px 30px;
}

.font-control {
    font-weight: 700;
    font-size: 50px;
}

.preebook {
    background-color: rgb(208, 33, 68);
    color: white;
    width: 150px;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 18px;
}

.camera {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
}

.logos {
    margin: 5px 150px 5px 150px;
}

.company-logo {
    margin-left: 20px;
}